name: 仓库更新推送

on:
  workflow_dispatch:

jobs:
  build-and-merge:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      GIT_AUTHOR_NAME:  github-actions[bot]
      GIT_AUTHOR_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
      GIT_COMMITTER_NAME:  github-actions[bot]
      GIT_COMMITTER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com

    steps:
    - name: Checkout dev branch
      uses: actions/checkout@v4
      with:
        ref: dev
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Generate index.json
      run: python gen_index.py

    - name: Commit & push to dev (if changed)
      id: commit_dev
      run: |
        git add index.json

        if git diff --cached --quiet; then
          echo "no_change=true" >> $GITHUB_OUTPUT
          echo "No changes to commit on dev"
        else
          git commit -m "生成 index.json"
          git push origin dev
          echo "no_change=false" >> $GITHUB_OUTPUT
        fi

    - name: Merge dev -> main
      if: steps.commit_dev.outputs.no_change == 'false'
      run: |
        git fetch origin main

        git checkout main
        git merge --no-ff origin/dev \
          -m "Hachimi 简体中文仓库更新 $(date -u +'%Y/%m/%d')"

        git push origin main